<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
  
  <audio>
    <music_volume value="128"/>
    <fx_volume value="100"/>
  </audio>
	
  <renderer>
    <vsync value="false"/>
    <camera_x value="0" />
    <camera_y value="0" />
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

</config>